In [19]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [20]:
import pandas as pd

In [21]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [22]:
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv(r"C:\Users\admin\Desktop\Global Economy Indicators.csv")

In [24]:
df.head()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [25]:
print(df.columns.tolist())

[' CountryID ', ' Country ', ' Year ', ' AMA exchange rate ', ' IMF based exchange rate ', ' Population ', ' Currency ', ' Per capita GNI ', ' Agriculture, hunting, forestry, fishing (ISIC A-B) ', ' Changes in inventories ', ' Construction (ISIC F) ', ' Exports of goods and services ', ' Final consumption expenditure ', ' General government final consumption expenditure ', ' Gross capital formation ', ' Gross fixed capital formation (including Acquisitions less disposals of valuables) ', ' Household consumption expenditure (including Non-profit institutions serving households) ', ' Imports of goods and services ', ' Manufacturing (ISIC D) ', ' Mining, Manufacturing, Utilities (ISIC C-E) ', ' Other Activities (ISIC J-P) ', ' Total Value Added ', ' Transport, storage and communication (ISIC I) ', ' Wholesale, retail trade, restaurants and hotels (ISIC G-H) ', ' Gross National Income(GNI) in USD ', ' Gross Domestic Product (GDP) ']

In [26]:
df.columns = df.columns.str.strip()

In [27]:
top_gdp = df.groupby('Country')['Gross Domestic Product (GDP)'].mean().sort_values(ascending=False).head(5)
print("Top 5 countries by average GDP:")
print(top_gdp)

Top 5 countries by average GDP:
Country
United States      9.321346e+12
Japan              3.417731e+12
China              3.372873e+12
Germany            2.095904e+12
United Kingdom     1.515096e+12
Name: Gross Domestic Product (GDP), dtype: float64

In [28]:
latest_year = df['Year'].max()
latest_data = df[df['Year'] == latest_year]

top_consumption = latest_data[['Country', 'Household consumption expenditure (including Non-profit institutions serving households)']].sort_values(
    by='Household consumption expenditure (including Non-profit institutions serving households)', ascending=False).head(5)

print(f"Top 5 countries by household consumption expenditure in {latest_year}:")
print(top_consumption)

Top 5 countries by household consumption expenditure in 2021:
               Country  \
10144   United States
1999            China
4680            Japan
3484          Germany
4212            India

       Household consumption expenditure (including Non-profit institutions serving households)
10144                                       1.590000e+13
1999                                        6.800000e+12
4680                                        2.660000e+12
3484                                        2.100000e+12
4212                                        1.910000e+12