# Smart Building Sensor Data Analysis
This notebook simulates and analyzes environmental sensor data collected from a smart building over 24 hours.

In [12]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(42)

# 1. Data Generation
time_in_minutes = np.arange(0, 1440)
temperature = 22 + np.random.normal(0, 1, 1440)
humidity = np.clip(55 + np.random.normal(0, 5, 1440), 0, 100)
pressure = 1012 + np.random.normal(0, 1, 1440)
combined_data = np.column_stack((time_in_minutes, temperature, humidity, pressure))

In [10]:
# 2. Basic Statistics
avg_temp = np.mean(temperature)
min_temp = np.min(temperature)
max_temp = np.max(temperature)
std_temp = np.std(temperature)

avg_humidity = np.mean(humidity)
min_humidity = np.min(humidity)
max_humidity = np.max(humidity)
std_humidity = np.std(humidity)

avg_pressure = np.mean(pressure)
min_pressure = np.min(pressure)
max_pressure = np.max(pressure)
std_pressure = np.std(pressure)

In [13]:
# 3. Hourly Averages
temperature_hourly_avg = temperature.reshape(24, 60).mean(axis=1)
humidity_hourly_avg = humidity.reshape(24, 60).mean(axis=1)
pressure_hourly_avg = pressure.reshape(24, 60).mean(axis=1)

hourly_df = pd.DataFrame({
    'Hour': np.arange(24),
    'Avg_Temperature': temperature_hourly_avg,
    'Avg_Humidity': humidity_hourly_avg,
    'Avg_Pressure': pressure_hourly_avg
})
hourly_df.head()

   Hour  Avg_Temperature  Avg_Humidity  Avg_Pressure
0     0        21.845345     56.349887   1012.016094
1     1        21.996317     55.000500   1011.990238
2     2        22.091914     54.370007   1011.739909
3     3        22.056814     56.154033   1012.080333
4     4        21.981867     55.616770   1011.707128

In [14]:
# 4. Anomaly Detection
threshold = 25
temperature_exceeds_threshold = np.sum(temperature > threshold)
min_temperature_time = time_in_minutes[np.argmin(temperature)]

temperature_exceeds_threshold, min_temperature_time

(np.int64(2), np.int64(262))

In [17]:
# 5. Save to CSV
np.savetxt('environmental_data.csv', combined_data, delimiter=',', header='Time,Temperature,Humidity,Pressure', comments='')