In [1]:
import numpy as np

In [2]:
sales = np.random.normal(100,1000,size=30)
sales = np.round(sales,2)
sales = np.clip(sales , 0 , None)
print("Sales data for the month" , sales)

Sales data for the month [   0.   1987.23    0.      0.    454.92  871.    350.48    0.      0.
    0.    220.24 1372.61 1507.66 1262.21  649.3   852.58  749.56 1368.78
  813.62  818.12    0.     44.39  664.04   82.91   19.38    0.      0.
  265.09 1376.43 1012.25]

In [3]:
units_sold = np.random.randint(1,100,size=30)
print("Units sold for the month",units_sold)

Units sold for the month [48 76  4 25 75 88 44  8 18 58 59 64 86 73 10 83 84 33 79 91 72 98 86 82
 74 50  5 49 12 55]

In [4]:
sales_revenue = sales * units_sold
print("Sales revenue for the month: ", sales_revenue)

Sales revenue for the month:  [     0.   151029.48      0.        0.    34119.    76648.    15421.12
      0.        0.        0.    12994.16  87847.04 129658.76  92141.33
   6493.    70764.14  62963.04  45169.74  64275.98  74448.92      0.
   4350.22  57107.44   6798.62   1434.12      0.        0.    12989.41
  16517.16  55673.75]

In [5]:
data_2d = np.column_stack((sales_revenue,units_sold))
print(data_2d)

[[0.0000000e+00 4.8000000e+01]
 [1.5102948e+05 7.6000000e+01]
 [0.0000000e+00 4.0000000e+00]
 [0.0000000e+00 2.5000000e+01]
 [3.4119000e+04 7.5000000e+01]
 [7.6648000e+04 8.8000000e+01]
 [1.5421120e+04 4.4000000e+01]
 [0.0000000e+00 8.0000000e+00]
 [0.0000000e+00 1.8000000e+01]
 [0.0000000e+00 5.8000000e+01]
 [1.2994160e+04 5.9000000e+01]
 [8.7847040e+04 6.4000000e+01]
 [1.2965876e+05 8.6000000e+01]
 [9.2141330e+04 7.3000000e+01]
 [6.4930000e+03 1.0000000e+01]
 [7.0764140e+04 8.3000000e+01]
 [6.2963040e+04 8.4000000e+01]
 [4.5169740e+04 3.3000000e+01]
 [6.4275980e+04 7.9000000e+01]
 [7.4448920e+04 9.1000000e+01]
 [0.0000000e+00 7.2000000e+01]
 [4.3502200e+03 9.8000000e+01]
 [5.7107440e+04 8.6000000e+01]
 [6.7986200e+03 8.2000000e+01]
 [1.4341200e+03 7.4000000e+01]
 [0.0000000e+00 5.0000000e+01]
 [0.0000000e+00 5.0000000e+00]
 [1.2989410e+04 4.9000000e+01]
 [1.6517160e+04 1.2000000e+01]
 [5.5673750e+04 5.5000000e+01]]

In [6]:
total_sales = np.sum(sales_revenue)
print(f"Total sales revenue for the month: {total_sales}")

Total sales revenue for the month: 1078844.4300000002

In [7]:
avg_sales = np.mean(units_sold)
avg_sales = np.round(avg_sales, 0 )
avg_sales = int(avg_sales)
print(f"Average sales units_sold for the month: {avg_sales}")

Average sales units_sold for the month: 56

In [8]:
max_sales = np.max(sales_revenue)
max_sales_index = np.argmax(sales_revenue)
print(f"Maximum sales revenue of {max_sales} at index {max_sales_index}")

Maximum sales revenue of 151029.48 at index 1

In [9]:
total_units_sold = np.sum(units_sold)
average_revenue_per_unit = total_sales/total_units_sold
print(f"Average revenue per unit sold for the month: {average_revenue_per_unit}")

Average revenue per unit sold for the month: 638.7474422735347

In [10]:
days_sales_above_target = np.sum(sales_revenue > 1200)
print(days_sales_above_target)

21

In [11]:
units_sold_when_revenue_blow_target = np.sum(units_sold[sales_revenue < 900])
print(f"Units sold when sales revenue was below 900 : {units_sold_when_revenue_blow_target}")

Units sold when sales revenue was below 900 : 288

In [12]:
weekly_sales_revenue = np.array([])
for week in range(4):
    start = week * 7
    end = start + 7
    week_total = np.sum(sales_revenue[start:end])
    weekly_sales_revenue = np.append(weekly_sales_revenue,week_total)
    print("Total sales revenue for each full week : ",weekly_sales_revenue)

Total sales revenue for each full week :  [277217.6]
Total sales revenue for each full week :  [277217.6  322641.29]
Total sales revenue for each full week :  [277217.6  322641.29 324114.82]
Total sales revenue for each full week :  [277217.6  322641.29 324114.82  82679.81]