In [2]:
import numpy as np

In [12]:
sales = np.random.normal(100, 1000, size=30)
sales = np.round(sales, 2)
sales = np.clip(sales, 0, None)
print("Sales data for the month: ", sales)

Sales data for the month:  [ 544.93    0.      0.    164.58    0.      0.    923.75  171.98    0.
    0.   1154.04  138.44    0.      0.   1228.09 1269.76    0.      0.
    0.     28.99  816.21 1218.76    0.      0.      0.      0.    414.18
  612.86  113.71  948.43]

In [13]:
units_sold = np.random.randint(1, 100, size=30)
print("Units sold for the month: ", units_sold)

Units sold for the month:  [71 26 48 39 85 72 75  4 43 45 86 88 34 22 37 27 17 32  5 45 14 39 66 89
 49 15 26 61 14 97]

In [14]:
sales_revenue = sales * units_sold
print("Sales revenue for the month: ", sales_revenue)

Sales revenue for the month:  [38690.03     0.       0.    6418.62     0.       0.   69281.25   687.92
     0.       0.   99247.44 12182.72     0.       0.   45439.33 34283.52
     0.       0.       0.    1304.55 11426.94 47531.64     0.       0.
     0.       0.   10768.68 37384.46  1591.94 91997.71]

In [16]:
data_2d = np.column_stack((sales_revenue, units_sold))
print(data_2d)

[[3.869003e+04 7.100000e+01]
 [0.000000e+00 2.600000e+01]
 [0.000000e+00 4.800000e+01]
 [6.418620e+03 3.900000e+01]
 [0.000000e+00 8.500000e+01]
 [0.000000e+00 7.200000e+01]
 [6.928125e+04 7.500000e+01]
 [6.879200e+02 4.000000e+00]
 [0.000000e+00 4.300000e+01]
 [0.000000e+00 4.500000e+01]
 [9.924744e+04 8.600000e+01]
 [1.218272e+04 8.800000e+01]
 [0.000000e+00 3.400000e+01]
 [0.000000e+00 2.200000e+01]
 [4.543933e+04 3.700000e+01]
 [3.428352e+04 2.700000e+01]
 [0.000000e+00 1.700000e+01]
 [0.000000e+00 3.200000e+01]
 [0.000000e+00 5.000000e+00]
 [1.304550e+03 4.500000e+01]
 [1.142694e+04 1.400000e+01]
 [4.753164e+04 3.900000e+01]
 [0.000000e+00 6.600000e+01]
 [0.000000e+00 8.900000e+01]
 [0.000000e+00 4.900000e+01]
 [0.000000e+00 1.500000e+01]
 [1.076868e+04 2.600000e+01]
 [3.738446e+04 6.100000e+01]
 [1.591940e+03 1.400000e+01]
 [9.199771e+04 9.700000e+01]]

In [17]:
total_sales = np.sum(sales_revenue) 
print(f"Total sales revenue for the month: {total_sales:.2f}")

Total sales revenue for the month: 508236.75

In [22]:
average_sales = np.mean(units_sold)
average_sales = np.round(average_sales, 0)
average_sales = int(average_sales)
print(f"Average sales units_sold for the month: {average_sales}")

Average sales units_sold for the month: 46

In [23]:
max_sales = np.max(sales_revenue)
max_sales_index = np.argmax(sales_revenue)
print(f"Maximum sales revenue of {max_sales:.2f} occurred at index {max_sales_index}.")

Maximum sales revenue of 99247.44 occurred at index 10.

In [24]:
total_units_sold = np.sum(units_sold)
average_revenue_per_unit = total_sales / total_units_sold
print(f"Average revenue per unit sold for the month: {average_revenue_per_unit:.2f}")

Average revenue per unit sold for the month: 370.71

In [25]:
days_sales_above_target = np.sum(sales_revenue > 1200)
print(f"Number of days sales revenue above 1200: {days_sales_above_target}")

Number of days sales revenue above 1200: 14

In [26]:
units_sold_when_revenue_blow_target = np.sum(units_sold[sales_revenue < 900])
print(f"Units sold when sales revenue was below 900: {units_sold_when_revenue_blow_target}")

Units sold when sales revenue was below 900: 652

In [31]:
weekly_sales_revenue = np.array([])
for week in range(4):
    start = week * 7
    end = start + 7
    week_total = np.sum(sales_revenue[start:end])
    weekly_sales_revenue = np.append(weekly_sales_revenue, week_total)
print("Total sales revenue for each full week:", weekly_sales_revenue)

Total sales revenue for each full week: [114389.9  112118.08  92454.34  95684.78]