**1. Sales Data Generation:**

In [1]:
import numpy as np

In [14]:
days=30
base_revenue=1000
sales_revenue = np.random.normal(base_revenue,200,days)
sales_revenue = np.clip(sales_revenue,0,None)
print("Sales revenue for 30 days is:",sales_revenue)

Sales revenue for 30 days is: [ 983.19271613 1054.77553273  872.59036497 1090.88244179  763.16416087
  872.88739728 1198.35500194  948.36967024 1067.57009229  923.48611741
 1157.73114991  901.17689657 1116.85833719 1033.70880302 1132.53998753
 1044.97003811 1529.00003564  770.68150835 1324.62804887 1086.48070167
 1076.83397181 1098.79757319 1228.50390857  891.48234324 1061.7023183
 1050.8962771  1198.43772086 1019.15341989  667.84256667 1034.6113093 ]

In [3]:
funit_sold=(sales_revenue/20) + np.random.normal(0, 5, days) #assuming average price per unit is 20
funit_sold=np.clip(funit_sold,0,None)
print("Unit sold for 30 days is:",funit_sold)

Unit sold for 30 days is: [39.8160314  53.76268951 45.94928028 42.29683209 53.7933984  59.64906633
 45.74146687 42.2383992  34.55461855 50.33455398 49.92462187 58.51580871
 40.91445223 43.82856161 29.65209334 56.81873499 53.46255651 48.92090115
 59.26705333 44.37142825 72.95178797 49.64958173 54.7716687  51.79484649
 57.55086407 30.16267437 57.75108376 48.99571876 63.65373121 73.55307247]

**2. Combine Data:**

In [18]:
data_sales = np.column_stack((sales_revenue,funit_sold))
print(data_sales)

[[ 983.19271613   39.8160314 ]
 [1054.77553273   53.76268951]
 [ 872.59036497   45.94928028]
 [1090.88244179   42.29683209]
 [ 763.16416087   53.7933984 ]
 [ 872.88739728   59.64906633]
 [1198.35500194   45.74146687]
 [ 948.36967024   42.2383992 ]
 [1067.57009229   34.55461855]
 [ 923.48611741   50.33455398]
 [1157.73114991   49.92462187]
 [ 901.17689657   58.51580871]
 [1116.85833719   40.91445223]
 [1033.70880302   43.82856161]
 [1132.53998753   29.65209334]
 [1044.97003811   56.81873499]
 [1529.00003564   53.46255651]
 [ 770.68150835   48.92090115]
 [1324.62804887   59.26705333]
 [1086.48070167   44.37142825]
 [1076.83397181   72.95178797]
 [1098.79757319   49.64958173]
 [1228.50390857   54.7716687 ]
 [ 891.48234324   51.79484649]
 [1061.7023183    57.55086407]
 [1050.8962771    30.16267437]
 [1198.43772086   57.75108376]
 [1019.15341989   48.99571876]
 [ 667.84256667   63.65373121]
 [1034.6113093    73.55307247]]

**3. Key Performance Indicators (KPIs):**

In [5]:
#total sales_revenue for the month
total_sales_revenue=np.sum(sales_revenue)
print("Total sales revenue:", total_sales_revenue)

Total sales revenue: 29517.182001621324

In [6]:
#average units_sold per day
avg_unit_sold=np.mean(funit_sold)
print("Average unit sold:", avg_unit_sold)

Average unit sold: 50.48825260515607

In [7]:
#maximum daily sales_revenue and the day (index) it occurred
max_sales_revenue = np.max(sales_revenue)
day_of_max=np.argmax(sales_revenue)
print(f"Max sales revenue: {max_sales_revenue} at the index(day): {day_of_max}")

Max sales revenue: 1414.0189420085849 at the index(day): 29

In [17]:
#the average revenue per unit sold for the entire month (total revenue / total units sold)
avg_revenue_per_unit=total_sales_revenue/np.sum(funit_sold)
print("Average revenue/unit for a month is:",avg_revenue_per_unit)

Average revenue/unit for a month is: 19.487821739749222

**4. Conditional Analysis:**

In [9]:
#how many days had sales_revenue above a certain target (e.g., $1200)
above_sales_rev = np.sum(sales_revenue >1200)
print("Number of days with sales revenue > 1200 is:",above_sales_rev)

Number of days with sales revenue > 1200 is: 2

In [16]:
#average units_sold only for days when sales_revenue was below a certain threshold (e.g., $900)
avg_unit_sold_below_th=np.mean(funit_sold[sales_revenue<900])
print("The avg unit sold at days below threshold is:",avg_unit_sold_below_th)

The avg unit sold at days below threshold is: 53.96020397711925

**5. Weekly Aggregations:**

In [13]:
weekly_total=sales_revenue[:28].reshape(4,7).sum(axis=1)
for i,t_revenue in enumerate(weekly_total,start=1):
    print(f"Week{i} :${t_revenue}")

Week1 :$6639.98079827147
Week2 :$6106.716254694055
Week3 :$7345.736259471897
Week4 :$6824.7144464775465